.login-page {
  align-items: center;
  background-color: aliceblue;
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form {
  border: solid 2px red;
}

.login-inputs {
  border: solid 2px red;
  display: flex;
  flex-direction: column;
}

.trybewallet-title {
  text-align: center;
}

.email-input , .password-input {
  box-sizing: border-box;
  width: 100%;
}

.email-field , .password-field {
  margin: 10px 0;
}
